<% if session[:user] %>
  <div class="new-question-form">
    <form method="get" action="/questions/new">
      <button type="submit">Create New Article</button>
    </form>
  </div>
<% end %>

<h1>Current Questions: </h1>

<div class="question-list">
  <% @questions.each do |question| %>
  <h2><a href=<%= "/questions/#{question.id}" %>><%= question.title  %></a></h2>
  <a href=<%= "/users/#{question.user.id}" %>><%= question.user.username %></a>
  <% end %>
</div>

  <!-- <button type="submit" name="up_vote" value="true" class="upvote-button"></button>
  <span class='points'><%= post.up_points %></span>
  <button type="submit" name="up_vote" value="false" class="downvote-button"></button>
  <span class='points'><%= post.down_points %></span> -->
