<div class="container">

  <span class="main-title"><%= @question.title %></span>

  <span class="author">by:</span>
  <span><%= @question.user.username %></span>
  <br><br>
  <span class="question-title">Question: </span>
  <span class="question-body"><%= @question.body %></span>

  <% if @question.user_id == session[:user] %>

    <form method="get" action=<%= "/questions/@question.id/edit"%>>
      <button type="submit">Edit Article</button>
    </form>

    <br>
    <form method="post" action=<%= "/questions/@question.id" %>>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Article">
    </form>

  <% end %>

  <button>
    <a class="new-recipe-button" href=<%= "/questions/#{@question.id}/recipes/new" %>>Share a Recipe!</a>
  </button>
  <p>Question Comments: </p>
  <button>
    <a href=<%="/questions/#{@question.id}/comments/new"%>>New Comment</a>
  </button>
  <% if @question.comments %>
    <% @question.comments.each do |comment| %>
      <%= erb :'comments/_show', locals: { comment: comment} %>
    <% end %>
  <% end %>

  <% @question.recipes.each do |recipe| %>
    <%= erb :'recipes/_show', locals: {  recipe: recipe } %>
  <% end %>
</div>
