<section class='show-recipe'>

  <p>RECIPE BODY</p>
  <p><%= recipe.body %> </p>
  <p>RECIPE WRITER</p>
  <p>submitted by: <%= recipe.user.username %> </p>
<% if recipe.best_answer == true %>
  <section>
    <img id='winner-icon' src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQZhNqd6H9ldLCUj6LBY3qMTh-LVM10tT_wgTyh_qVV7fEw0eJJ">
  </section>
<% end %>
<% if logged_in? && @question.user.id == current_user.id && @question.has_no_winning_vote %>

<form id='choose-winner' method='POST' action=<%= "/questions/#{@question.id}/recipes/#{recipe.id}/winners/new" %>>
  <input type='hidden' name='_method' value='PUT'>
  <input type='submit' value='TEH BAAAST'>
</form>

<% end %>

</section>

<!-- edit/delete buttons here -->
<% if recipe.user_id == session[:user] %>

  <button>
    <a href=<%="/questions/#{@question.id}/recipes/#{recipe.id}/edit"%>>Edit Recipe</a>
  </button>

  <br>
  <form method="post" action=<%= "/questions/#{@question.id}/recipes/#{recipe.id}" %> >
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>

<% end %>
<section>
<p>THESE ARE THE COMMENTS</p>
<button>
  <a href=<%="/questions/#{@question.id}/recipes/#{recipe.id}/comments/new"%>>New Comment</a>
</button>
<% if recipe.comments %>
  <% recipe.comments.each do |comment| %>
    <%= erb :'comments/_show', locals: { comment: comment} %>
  <% end %>
<% end %>
</section>
